
#get-matched-paper {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

#get-matched-paper>.subsection {
  padding: 40px 25px;
}


#get-matched-paper>.subsection h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 55px;
}

#get-matched-paper .search-form  {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.06);
  border: none;
  height: 70px;
  margin-bottom: 40px;
}

#get-matched-paper .search-form .search-input {
  background-color: rgb(255, 255, 255);
  border: none;
  height: 70px;
}

#get-matched-paper .search-form button {
  width: 85px;
  background-color: rgb(255, 255, 255);
  height: 70px;
  border: none;
  padding-left: 0;
}

#get-matched-paper .search-form button i.icon.search {
  font-size: 26px;
  line-height: 30px;
  padding-left: 25px;
  padding-right: 15px;
  color: rgb(255, 177, 0);
}

#get-matched-paper .search-form button div {
  border-left: solid 1px rgb(235, 235, 235);
}

#steps {
  padding: 10px;
  text-align: center;
}

#steps .subsection {
  padding: 0;
}

#steps img {
  width: 60px;
  margin: auto;
}
