#not-found-page {
  margin-top: 40px;
}

#not-found-page .header {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#not-found-page .buttons {
  margin-top: 100px;
  margin-bottom: 100px;
}
