.ui.button.chat-now {
  border: 1px solid rgb(255, 177, 0);
  border-radius: 2px;
  background-color: rgb(255, 177, 0);
  color: #ffffff;
  min-width: 120px;
  font-weight: lighter;
  padding: 8px 8px;
}

.ui.button.chat-now span {
  margin-left: 6px;
}
