.blog-page .category-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-page .category-selector h3 {
  margin: 0 24px;
}

.blog-page .blog-excerpts .post-excerpt-card {
  margin-bottom: 18px;
  width: 100%;
}

.blog-page .blog-excerpts .post-excerpt-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-page .blog-excerpts .post-excerpt-card .content h4 {
  height: 2.57em;
  overflow: hidden;
  color: black;
}

.blog-page .blog-excerpts .post-excerpt-card .content p {
  font-size: 12px;
  height: 4.5em;
  overflow: hidden;
  color: #888888;
}
