.subpage-wrapper {
  text-align: left;
  background: url("https://s3-ap-southeast-1.amazonaws.com/sghomeneeds-gallery/images/DirectoryPage/orangeshades.png") no-repeat;
  background-position-y: -900px;
  background-size: cover;
}


